.navbar{
    padding: 1rem;
    background: #333;
    color: white;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-gsb{
    margin-right:1rem;
    font-weight:bold
}

.liens, .auth{
    display:flex;
    align-items: center;
}

.lien {
    color: white; 
    margin-right: 1rem;
}
